/build/
/smoke.egg-info/
/dist/

/tools/logs/

.idea

./tools/logs/model_final.pth
smoke/_ext.cpython-37m-x86_64-linux-gnu.so
smoke/config/__pycache__/__init__.cpython-37.pyc
smoke/config/__pycache__/defaults.cpython-37.pyc
smoke/config/__pycache__/paths_catalog.cpython-37.pyc
smoke/data/__pycache__/__init__.cpython-37.pyc
smoke/data/__pycache__/build.cpython-37.pyc
smoke/data/__pycache__/collate_batch.cpython-37.pyc
smoke/data/datasets/__pycache__/__init__.cpython-37.pyc
smoke/data/datasets/__pycache__/concat_dataset.cpython-37.pyc
smoke/data/datasets/__pycache__/kitti.cpython-37.pyc
smoke/data/samplers/__pycache__/__init__.cpython-37.pyc
smoke/data/samplers/__pycache__/distributed_sampler.cpython-37.pyc
smoke/data/samplers/__pycache__/grouped_batch_sampler.cpython-37.pyc
smoke/data/transforms/__pycache__/__init__.cpython-37.pyc
smoke/data/transforms/__pycache__/build.cpython-37.pyc
smoke/data/transforms/__pycache__/transforms.cpython-37.pyc
smoke/engine/__pycache__/__init__.cpython-37.pyc
smoke/engine/__pycache__/defaults.cpython-37.pyc
smoke/engine/__pycache__/launch.cpython-37.pyc
smoke/engine/__pycache__/trainer.cpython-37.pyc
smoke/layers/__pycache__/dcn_v2.cpython-37.pyc
smoke/layers/__pycache__/deform_conv.cpython-37.pyc
smoke/layers/__pycache__/focal_loss.cpython-37.pyc
smoke/layers/__pycache__/utils.cpython-37.pyc
smoke/modeling/__pycache__/heatmap_coder.cpython-37.pyc
smoke/modeling/__pycache__/make_layers.cpython-37.pyc
smoke/modeling/__pycache__/registry.cpython-37.pyc
smoke/modeling/__pycache__/smoke_coder.cpython-37.pyc
smoke/modeling/backbone/__pycache__/__init__.cpython-37.pyc
smoke/modeling/backbone/__pycache__/backbone.cpython-37.pyc
smoke/modeling/backbone/__pycache__/dla.cpython-37.pyc
smoke/modeling/detector/__pycache__/__init__.cpython-37.pyc
smoke/modeling/detector/__pycache__/detectors.cpython-37.pyc
smoke/modeling/detector/__pycache__/keypoint_detector.cpython-37.pyc
smoke/modeling/heads/__pycache__/__init__.cpython-37.pyc
smoke/modeling/heads/__pycache__/heads.cpython-37.pyc
smoke/modeling/heads/smoke_head/__pycache__/inference.cpython-37.pyc
smoke/modeling/heads/smoke_head/__pycache__/loss.cpython-37.pyc
smoke/modeling/heads/smoke_head/__pycache__/smoke_head.cpython-37.pyc
smoke/modeling/heads/smoke_head/__pycache__/smoke_predictor.cpython-37.pyc
smoke/solver/__pycache__/__init__.cpython-37.pyc
smoke/solver/__pycache__/build.cpython-37.pyc
smoke/structures/__pycache__/image_list.cpython-37.pyc
smoke/structures/__pycache__/params_3d.cpython-37.pyc
smoke/utils/__pycache__/check_point.cpython-37.pyc
smoke/utils/__pycache__/collect_env.cpython-37.pyc
smoke/utils/__pycache__/comm.cpython-37.pyc
smoke/utils/__pycache__/envs.cpython-37.pyc
smoke/utils/__pycache__/imports.cpython-37.pyc
smoke/utils/__pycache__/logger.cpython-37.pyc
smoke/utils/__pycache__/metric_logger.cpython-37.pyc
smoke/utils/__pycache__/miscellaneous.cpython-37.pyc
smoke/utils/__pycache__/model_serialization.cpython-37.pyc
smoke/utils/__pycache__/model_zoo.cpython-37.pyc
smoke/utils/__pycache__/registry.cpython-37.pyc
